* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  display: grid;
  min-height: 100vh;
  grid: 1fr 1fr 7fr / 2fr 8fr;
  font-family: sans-serif;
  padding: 0px 200px;
  /* align-items: start; */
}
body > div {
  overflow: auto;
}
#header {
  background-color: red;
  grid-area: 1/2/3/-1;
}
#sidebar {
  line-height: 1;
  background-color: #24a0ed;
  color: white;
  grid-area: 1/1/-1/2;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
#main-content {
  background-color: blue;
  grid-area: 3/2/-1/-1;
}
#logo {
  margin-left: -2px;
  line-height: 1.4;
  display: grid;
  align-content: center;
  grid-auto-flow: column;
  font-size: 30px;
  justify-content: start;
  gap: 6px;
}
ul.sidebar-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
ul.sidebar-list a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}
ul.sidebar-list > li > a {
  display: flex;
  justify-content: start;
  gap: 27px;
}
ul.sidebar-list + ul.sidebar-list {
  margin-top: 20px;
}
