@font-face {
  font-family: "robotobold";
  src: url("fonts/roboto/kit/roboto-bold-webfont.woff2") format("woff2"),
    url("fonts/roboto/kit/roboto-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  --top-padding: 25px;
}
body {
  display: grid;
  min-height: 100vh;
  grid: 1fr 1fr 7fr / 2fr 8fr;
  font-family: sans-serif;
  padding: 0px 200px;
  /* align-items: start; */
}
body > div {
  overflow: auto;
}
#header {
  grid-area: 1/2/3/-1;
}
#sidebar {
  /* line-height: 1; */
  background-color: #24a0ed;
  color: white;
  grid-area: 1/1/-1/2;
  font-weight: bold;
  font-size: 1.3rem;
  padding: var(--top-padding);
  display: flex;
  flex-direction: column;
  gap: 40px;
}
#main-content {
  background-color: blue;
  grid-area: 3/2/-1/-1;
}
#logo {
  margin-left: -2px;
  line-height: 1.4;
  display: grid;
  grid-auto-flow: column;
  font-size: 30px;
  justify-content: start;
  align-items: center;
  gap: 6px;
}
ul.sidebar-list {
  list-style-type: none;
  display: grid;
  gap: 25px;
}
ul.sidebar-list a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}
ul.sidebar-list > li > a {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  gap: 27px;
}
ul.sidebar-list + ul.sidebar-list {
  margin-top: 20px;
}
#header1 {
  padding: var(--top-padding);
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  align-content: center;
  grid-template-columns: 6fr 1fr 2fr;
}
#header1 > form button[type="submit"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
#header1 > form {
  display: flex;
  gap: 15px;
  align-items: center;
  height: 80px;
}
#header1 > form > input[type="search"] {
  flex: 1;
  border-radius: 35px;
  outline: none;
  border: none;
  background-color: lightgrey;
}
#header1 > form > input[type="search"]:focus {
  border: 1px solid lightblue;
  box-shadow: 0 0 3px currentColor;
}
#header1 > form > input[type="search"]:hover {
  border: 1px solid black;
  box-shadow: none;
}
#admin-profile {
  display: grid;
  grid-auto-flow: column;
  font-size: 1.2rem;
  align-items: center;
}
.admin-profile > div.bkg-img {
  --profile-pic-size: 40px;
  display: block;
  outline: 1px solid black;
  border-radius: 50%;
  width: var(--profile-pic-size);
  height: var(--profile-pic-size);
  background-image: none; /* edit this to add image */
  background-repeat: no-repeat;
  background-size: cover;
}
#admin-profile-main > div.bkg-img {
  --profile-pic-size: 80px;
}
#header2 {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  padding-bottom: 20px;
}
#admin-profile-main {
  display: grid;
  grid: 2fr 3fr / 1fr 3fr;
  align-items: center;
}
#admin-profile-main > .bkg-img {
  grid-area: 1/1/-1/2;
}
#admin-profile-main > #main-name {
  font-size: 1.5rem;
  align-self: start;
}
#admin-profile-main > div:nth-child(1) {
  align-self: end;
}
#button-list {
  display: grid;
  grid-auto-flow: column;
  gap: 25px;
}
#button-list > button {
  padding: 8px 25px;
  border-radius: 27px;
  background-color: #24a0ed;
  color: white;
  font-weight: bold;
  outline: none;
  border: none;
  font: inherit;
  transition: transform 0.2s;
}
#button-list > button:hover,
ul.sidebar-list > li > a:hover {
  transform: scale(1.1);
}
#sidebar,
.admin-profile,
#button-list {
  font-family: "robotobold", sans-serif;
}
/* there is styling only for #main-content below this line */
#main-content {
  display: grid;
  height: 100%;
  grid: 1fr 1fr / 3fr 1fr;
  align-items: stretch;
  background-color: lightgrey;
}
#your-projects {
  grid-area: 1/1/-1/2;
  margin: 20px;
  display: grid;
  grid-template-rows: 50px auto;
}
#cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
.card {
  background-color: white;
  padding: 30px;
  border-left: 8px solid orange;
  border-radius: 8px;
}
